  <!-- BEGIN MENU -->
  <section id="menu-area">      
    <nav class="navbar navbar-default" role="navigation">  
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- LOGO -->              
          <!-- TEXT BASED LOGO -->

          <!-- IMG BASED LOGO  -->
            <a class="navbar-brand" href="index.html"><img src="..//images/logo.jpg" alt="logo"></a> 
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
            <li class="active"><%=link_to "Trang Chủ", home_path()%></li>
            <li><%= link_to "Giới Thiệu", about_path()%></li>
            <li><%= link_to "Sản Phẩm", product_path()%></li>
            <li><%= link_to "Tin Tức", news_path()%></li>
            <li><%= link_to "Liên Hệ", contact_path()%></li>

            
          </ul>                     
        </div><!--/.nav-collapse -->
        <a href="#" id="search-icon">
          <i class="fa fa-search">            
          </i>
        </a>
      </div>     
    </nav>
  </section>
  <!-- END MENU --> 
  <!-- Start slider -->
  <section id="slider">
    <div class="main-slider">
      <div class="single-slide">
        <img src="..//images/b.jpg" alt="img">
        <div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
			  <div class="slide-article">
                  <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">Nước Đá Sạch</h1>
                  <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.75s; animation-name: fadeInUp;">Nguồn nước được xử lý qua hệ thống tia cực tím.</p>
                  <a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="#" style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;">Chi tiết</a>
                </div>
            </div>
              <div class="col-md-6 col-sm-6">
                <div class="slider-img wow fadeInUp">
                  <img src="..//images/slide1_c.png" alt="business man">
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="single-slide">
        <img src="..//images/slider-2.jpg" alt="img">
        <div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
			   <div class="slide-article">
                  <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">Nước Đá Sạch</h1>
                  <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.75s; animation-name: fadeInUp;">Nguồn nước được xử lý qua hệ thống tia cực tím.</p>
                  <a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="#" style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;">Chi tiết</a>
                </div>
            </div>
              <div class="col-md-6 col-sm-6">
                <!--<div class="slider-img wow fadeInUp">
                  <img src="assets/images/slide1_c.png" alt="business man">
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>          
    </div>
  </section>
  <!-- End slider -->



  <!-- Start Clients brand -->
  <section id="clients-brand">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
		<div class="title-area">
            <h2 class="title">Sản Phẩm Tiêu Biểu</h2>
            <span class="line"></span>
            <p>Chuyên cung cấp các loại nước đá tinh khiết phục vụ cho nhà hàng, quán café, quán bar, khách sạn, tiệc cưới, siêu thị, đá ướp cho các xí nghiệp xuất nhập khẩu, v.v… Chuyên nghiệp, nước đá tinh khiết đóng bao ni lông – không chảy nước, sạch đẹp, xe tải giao nhận 24/7. Luôn luôn đúng giờ!</p>
          </div>
          <div class="clients-brand-area">
		  
            <ul class="clients-brand-slide">
              <li class="col-md-3">
                <div class="single-brand">
                  <img src="..//images/a.jpg" alt="img">
                </div>
              </li>
              <li class="col-md-3">
                <div class="single-brand">
                  <img src="..//images/nuocda2.jpg" alt="img">
                </div>
              </li>
              <li class="col-md-3">
                <div class="single-brand">
                  <img src="..//images/nuocda3.jpg" alt="img">
                </div>
              </li>
              <li class="col-md-3">
                <div class="single-brand">
                  <img src="..//images/nuocda4.jpg" alt="img">
                </div>
              </li>
               <li class="col-md-3">
                <div class="single-brand">
                  <img src="..//images/c3.jpg" alt="img">
                </div>
              </li>
              <li class="col-md-3">
                <div class="single-brand">
                  <img src="..//images/c.jpg" alt="img">
                </div>
              </li>
              <li class="col-md-3">
                <div class="single-brand">
                  <img src="..//images/c1.jpg" alt="img">
                </div>
              </li>
              <li class="col-md-3">
                <div class="single-brand">
                  <img src="..//images/c2.jpg" alt="img">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Clients brand -->

  <!-- Start latest news -->
  <section id="latest-news">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Nước Đá Tinh Khiết</h2>
            <span class="line"></span>
            <p>Quý khách có nhu cầu mua nước đá tinh khiết tại TP.HCM, với mong muốn hợp vệ sinh, chất lượng đảm bảo, đẹp tại TP.HCM mà chưa tìm được nhà cung cấp hàng chất lượng hãy đến với Nhà cung cấp nước đá tinh khiết An Phú .</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="latest-news-content">
      <div class="row">
              <!-- start single latest news -->
              <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp1.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Nước đá tinh khiết</a></h2>
                   
                  </div>
                  <div class="blog-news-details">
                    <p>Quý khách có nhu cầu mua nước đá tinh khiết tại Tphcm, với mong muốn hợp vệ sinh, chất lượng đảm bảo, đẹp tại Tphcm mà chưa ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div>
              <!-- start single latest news -->
              <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp2.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Nước đá tinh khiết đóng bì siêu sạch</a></h2>
                   
                  </div>
                  <div class="blog-news-details">
                    <p>An Phú tự hào là đơn vị chuyên cung cấp nước đá tinh khiết đóng bì siêu sạch , đạt tiêu chuẩn chất lượng cao, rất có uy ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div>
              <!-- start single latest news -->
              <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp3.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Nước đá viên tinh khiết</a></h2>
                    
                  </div>
                  <div class="blog-news-details">
                    <p>Bạn muốn mua nước đá tinh khiết – Đá cây, hãy đến với Hoa Hải, chúng  tôi tự hào là đơn vị chuyên cung cấp đá tinh ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp4.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Nước đá cưa tinh khiết</a></h2>
                    
                  </div>
                  <div class="blog-news-details">
                    <p>Nước đá cưa tinh khiết là sản phẩm rất được ưu chuộng vì để ướp thức ăn, thực phẩm, đồ uống và sử dụng khá phổ ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div>

              </div>
           
               
              </div>
            </div>
                    <div class="col-md-12">
          <div class="latest-news-content">
      <div class="row">
              <!-- start single latest news -->
              <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp4.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Nước đá tinh khiết</a></h2>
                   
                  </div>
                  <div class="blog-news-details">
                    <p>Quý khách có nhu cầu mua nước đá tinh khiết tại Tphcm, với mong muốn hợp vệ sinh, chất lượng đảm bảo, đẹp tại Tphcm mà chưa ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div>
              <!-- start single latest news -->
              <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp3.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Nước đá tinh khiết đóng bì siêu sạch</a></h2>
                   
                  </div>
                  <div class="blog-news-details">
                    <p>An Phú tự hào là đơn vị chuyên cung cấp nước đá tinh khiết đóng bì siêu sạch , đạt tiêu chuẩn chất lượng cao, rất có uy ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div>
              <!-- start single latest news -->
              <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp2.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Nước đá viên tinh khiết</a></h2>
                    
                  </div>
                  <div class="blog-news-details">
                    <p>Bạn muốn mua nước đá tinh khiết – Đá cây, hãy đến với Hoa Hải, chúng  tôi tự hào là đơn vị chuyên cung cấp đá tinh ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp1.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Nước đá cưa tinh khiết</a></h2>
                    
                  </div>
                  <div class="blog-news-details">
                    <p>Nước đá cưa tinh khiết là sản phẩm rất được ưu chuộng vì để ướp thức ăn, thực phẩm, đồ uống và sử dụng khá phổ ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div>

              </div>
           
               
              </div>
            </div>
          </div>
        </div>
  </section>
  <!-- End latest news -->
  
    <!-- Start latest news -->
  <section id="latest-news">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Đá Tinh Khiết</h2>
            <span class="line"></span>
            <p>Quý khách có nhu cầu mua nước đá tinh khiết tại TP.HCM, với mong muốn hợp vệ sinh, chất lượng đảm bảo, đẹp tại TP.HCM mà chưa tìm được nhà cung cấp hàng chất lượng hãy đến với Nhà cung cấp nước đá tinh khiết An Phú .</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="latest-news-content">
      <div class="row">
              <!-- start single latest news -->
              <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sanpham1.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Đá tinh khiết siêu sạch</a></h2>
                   
                  </div>
                  <div class="blog-news-details">
                    <p>Nhà phân phối Hoa Hải chúng tôi có mặt tại hầu hết các khu vực nội thành – Tp.Hồ Chí Minh. CUng cấp rộng khắp cho các khách ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div>
              <!-- start single latest news -->
              <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sanpham2.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Đá tinh khiết giá rẻ</a></h2>
                   
                  </div>
                  <div class="blog-news-details">
                    <p>Khí hậu Tphcm luôn nóng quanh năm vì thế việc được giải khát và được làm mát hơn với nước đá tinh khiết luôn là lựa chọn ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div>
              <!-- start single latest news -->
              <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sanpham3.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Đá tinh khiết uống bia</a></h2>
                    
                  </div>
                  <div class="blog-news-details">
                    <p>Vào mùa hè, làm cốc bia với bạn bè, chiến hữu,thật sảng khoái và mát mẻ.Nhưng bia có ngon hay không, mát hay không một phần phụ ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sanpham4.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Đá tinh khiết đá cây</a></h2>
                    
                  </div>
                  <div class="blog-news-details">
                    <p>Trên thị trường hiện nay, việc các loại nước đá và nhà cung cấp cực kỳ đa dạng. Với những nhu cầu và mục đích sử dụng ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div></div>
           
               
              </div>
            </div>
                   <div class="col-md-12">
          <div class="latest-news-content">
      <div class="row">
              <!-- start single latest news -->
              <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sanpham4.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Đá tinh khiết siêu sạch</a></h2>
                   
                  </div>
                  <div class="blog-news-details">
                    <p>Nhà phân phối Hoa Hải chúng tôi có mặt tại hầu hết các khu vực nội thành – Tp.Hồ Chí Minh. CUng cấp rộng khắp cho các khách ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div>
              <!-- start single latest news -->
              <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sanpham3.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Đá tinh khiết giá rẻ</a></h2>
                   
                  </div>
                  <div class="blog-news-details">
                    <p>Khí hậu Tphcm luôn nóng quanh năm vì thế việc được giải khát và được làm mát hơn với nước đá tinh khiết luôn là lựa chọn ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div>
              <!-- start single latest news -->
              <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sanpham2.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Đá tinh khiết uống bia</a></h2>
                    
                  </div>
                  <div class="blog-news-details">
                    <p>Vào mùa hè, làm cốc bia với bạn bè, chiến hữu,thật sảng khoái và mát mẻ.Nhưng bia có ngon hay không, mát hay không một phần phụ ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="blog-single-with-right-sidebar.html"><img src="..//images/sanpham1.jpg" alt="image"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="blog-single-with-right-sidebar.html">Đá tinh khiết đá cây</a></h2>
                    
                  </div>
                  <div class="blog-news-details">
                    <p>Trên thị trường hiện nay, việc các loại nước đá và nhà cung cấp cực kỳ đa dạng. Với những nhu cầu và mục đích sử dụng ...</p>
                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div></div>
           
               
              </div>
            </div>


          </div>
        </div>
  </section>
  <!-- End latest news -->

 
  <!-- jQuery library -->
