  <!-- BEGIN MENU -->
  <section id="menu-area">      
    <nav class="navbar navbar-default" role="navigation">  
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- LOGO -->              
          <!-- TEXT BASED LOGO -->

          <!-- IMG BASED LOGO  -->
            <a class="navbar-brand" href="index.html"><img src="..//images/logo.jpg" alt="logo"></a> 
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
            <li><%=link_to "Trang Chủ", home_path()%></li>
            <li><%=link_to "Giới Thiệu", about_path()%></li>
            <li class="active"><%=link_to "Sản Phẩm", product_path()%></li>
            <li><%=link_to "Tin Tức", news_path()%></li>
            <li><%=link_to "Liên Hệ", contact_path()%></li>

            
          </ul>                     
        </div><!--/.nav-collapse -->
        <a href="#" id="search-icon">
          <i class="fa fa-search">            
          </i>
        </a>
      </div>     
    </nav>
  </section>
  <!-- END MENU --> 

        <section id="blog-archive">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="blog-archive-area">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="title-area">
                                        <h2 class="title">Sản Phẩm </h2>
                                        <span class="line"></span>
                                        <p>Chuyên cung cấp các loại nước đá tinh khiết phục vụ cho nhà hàng, quán café, quán bar, khách sạn, tiệc cưới, siêu thị, đá ướp cho các xí nghiệp xuất nhập khẩu, v.v… Chuyên nghiệp, nước đá tinh khiết đóng bao ni lông – không chảy nước, sạch đẹp, xe tải giao nhận 24/7. Luôn luôn đúng giờ!</p>
                                    </div>
                                    <div class="latest-news-content">
                                        <div class="row">
                                            <!-- start single latest news -->
                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                <article class="blog-news-single">
                                                    <div class="blog-news-img">
                                                        <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp1.jpg" alt="image"></a>
                                                    </div>
                                                    <div class="blog-news-title">
                                                        <h2><a href="blog-single-with-right-sidebar.html">Nước đá tinh khiết</a></h2>

                                                    </div>
                                                    <div class="blog-news-details">
                                                        <p>Quý khách có nhu cầu mua nước đá tinh khiết tại Tphcm, với mong muốn hợp vệ sinh, chất lượng đảm bảo, đẹp tại Tphcm mà chưa ...</p>
                                                        <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </article>
                                            </div>
                                            <!-- start single latest news -->
                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                <article class="blog-news-single">
                                                    <div class="blog-news-img">
                                                        <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp2.jpg" alt="image"></a>
                                                    </div>
                                                    <div class="blog-news-title">
                                                        <h2><a href="blog-single-with-right-sidebar.html">Nước đá tinh khiết đóng bì siêu sạch</a></h2>

                                                    </div>
                                                    <div class="blog-news-details">
                                                        <p>An Phú tự hào là đơn vị chuyên cung cấp nước đá tinh khiết đóng bì siêu sạch , đạt tiêu chuẩn chất lượng cao, rất có uy ...</p>
                                                        <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </article>
                                            </div>
                                            <!-- start single latest news -->
                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                <article class="blog-news-single">
                                                    <div class="blog-news-img">
                                                        <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp3.jpg" alt="image"></a>
                                                    </div>
                                                    <div class="blog-news-title">
                                                        <h2><a href="blog-single-with-right-sidebar.html">Nước đá viên tinh khiết</a></h2>

                                                    </div>
                                                    <div class="blog-news-details">
                                                        <p>Bạn muốn mua nước đá tinh khiết – Đá cây, hãy đến với Hoa Hải, chúng  tôi tự hào là đơn vị chuyên cung cấp đá tinh ...</p>
                                                        <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                <article class="blog-news-single">
                                                    <div class="blog-news-img">
                                                        <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp4.jpg" alt="image"></a>
                                                    </div>
                                                    <div class="blog-news-title">
                                                        <h2><a href="blog-single-with-right-sidebar.html">Nước đá cưa tinh khiết</a></h2>

                                                    </div>
                                                    <div class="blog-news-details">
                                                        <p>Nước đá cưa tinh khiết là sản phẩm rất được ưu chuộng vì để ướp thức ăn, thực phẩm, đồ uống và sử dụng khá phổ ...</p>
                                                        <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                <article class="blog-news-single">
                                                    <div class="blog-news-img">
                                                        <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp5.jpg" alt="image"></a>
                                                    </div>
                                                    <div class="blog-news-title">
                                                        <h2><a href="blog-single-with-right-sidebar.html">Nước đá cưa tinh khiết</a></h2>

                                                    </div>
                                                    <div class="blog-news-details">
                                                        <p>Nước đá cưa tinh khiết là sản phẩm rất được ưu chuộng vì để ướp thức ăn, thực phẩm, đồ uống và sử dụng khá phổ ...</p>
                                                        <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                <article class="blog-news-single">
                                                    <div class="blog-news-img">
                                                        <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp6.jpg" alt="image"></a>
                                                    </div>
                                                    <div class="blog-news-title">
                                                        <h2><a href="blog-single-with-right-sidebar.html">Nước đá cưa tinh khiết</a></h2>

                                                    </div>
                                                    <div class="blog-news-details">
                                                        <p>Nước đá cưa tinh khiết là sản phẩm rất được ưu chuộng vì để ướp thức ăn, thực phẩm, đồ uống và sử dụng khá phổ ...</p>
                                                        <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                <article class="blog-news-single">
                                                    <div class="blog-news-img">
                                                        <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp1.jpg" alt="image"></a>
                                                    </div>
                                                    <div class="blog-news-title">
                                                        <h2><a href="blog-single-with-right-sidebar.html">Nước đá cưa tinh khiết</a></h2>

                                                    </div>
                                                    <div class="blog-news-details">
                                                        <p>Nước đá cưa tinh khiết là sản phẩm rất được ưu chuộng vì để ướp thức ăn, thực phẩm, đồ uống và sử dụng khá phổ ...</p>
                                                        <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                <article class="blog-news-single">
                                                    <div class="blog-news-img">
                                                        <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp2.jpg" alt="image"></a>
                                                    </div>
                                                    <div class="blog-news-title">
                                                        <h2><a href="blog-single-with-right-sidebar.html">Nước đá tinh khiết đóng bì siêu sạch</a></h2>

                                                    </div>
                                                    <div class="blog-news-details">
                                                        <p>An Phú tự hào là đơn vị chuyên cung cấp nước đá tinh khiết đóng bì siêu sạch , đạt tiêu chuẩn chất lượng cao, rất có uy ...</p>
                                                        <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </article>
                                            </div>
                                            <!-- start single latest news -->
                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                <article class="blog-news-single">
                                                    <div class="blog-news-img">
                                                        <a href="blog-single-with-right-sidebar.html"><img src="..//images/sp3.jpg" alt="image"></a>
                                                    </div>
                                                    <div class="blog-news-title">
                                                        <h2><a href="blog-single-with-right-sidebar.html">Nước đá viên tinh khiết</a></h2>

                                                    </div>
                                                    <div class="blog-news-details">
                                                        <p>Bạn muốn mua nước đá tinh khiết – Đá cây, hãy đến với Hoa Hải, chúng  tôi tự hào là đơn vị chuyên cung cấp đá tinh ...</p>
                                                        <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="blog-pagination">
                                                <ul class="pagination-nav">
                                                    <li><a href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#">4</a></li>
                                                    <li><a href="#">5</a></li>
                                                    <li><a href="#">6</a></li>
                                                </ul>
                                            </div></div>


                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <aside class="blog-side-bar">
                                        <!-- Start sidebar widget -->
                                        <div class="sidebar-widget">
                                            <!-- Start blog search -->
                                            <form>                    
                                                <div class="search-group">                        
                                                    <button type="button" class="blog-search-btn"><span class="fa fa-search"></span></button>
                                                    <input type="search" placeholder="Tìm kiếm sản phẩm bạn muốn...">
                                                </div>                    
                                            </form>
                                            <!-- End blog search -->                                
                                        </div>
                                        <!-- Start sidebar widget -->
                                        <div class="sidebar-widget">
                                            <h4 class="widget-title">Nước Đá Tinh Khiết</h4>
                                            <ul class="widget-catg">                      
                                                <li><a href="#">Nước đá cưa tinh khiết</a></li>
                                                <li><a href="#">Nước đá viên tinh khiết</a></li>
                                                <li><a href="#">Đá tinh khiết chất lượng cao</a></li>
                                                <li><a href="#">Nước đá cây tinh khiết</a></li>
                                                <li><a href="#">Nước tinh khiết giá rẻ</a></li>
                                                <li><a href="#">Nước đá 4 tinh khiết</a></li>
                                                <li><a href="#">Nước đá tinh khiết siêu sạch</a></li>
                                                <li><a href="#">Đá tinh khiết chất lượng cao</a></li>
                                            </ul>
                                        </div>
                                        <!-- Start sidebar widget -->
                                        <div class="sidebar-widget">
                                            <h4 class="widget-title">Lời Ngỏ</h4>
                                            <p>Khách hàng mới khi đến với chúng tôi sẽ được tài trợ 100% tất cả các thiết bị, cùng với những ưu đãi đặc biệt về giá cả.</p>
                                        </div>
                                        <!-- Start sidebar widget -->
                                        <div class="sidebar-widget">
                                            <h4 class="widget-title">Tags</h4>
                                            <div class="tag-cloud">
                                                <a href="#">Nước đá</a>
                                                <a href="#">đá cây</a>
                                                <a href="#">tinh khiết</a>
                                                <a href="#">đá cưa</a>
                                                <a href="#">đá siêu sạch</a>
                                                <a href="#">đá bi</a>
                                                <a href="#">đá viên</a>                      
                                                <a href="#">đá bì</a>
                                                <a href="#">nước đá</a>
                                                <a href="#">nước đá 4</a>
                                            </div>
                                        </div>
                                        <!-- Start sidebar widget -->
                                        <div class="sidebar-widget">
                                            <h4 class="widget-title">Thời Gian</h4>
                                            <ul class="widget-archive">
                                                <li><a href="#">November 2015<span>(35)</span></a></li>
                                                <li><a href="#">October 2015<span>(55)</span></a></li>
                                                <li><a href="#">September 2015<span>(65)</span></a></li>
                                                <li><a href="#">August 2015<span>(75)</span></a></li>
                                                <li><a href="#">July 2015<span>(105)</span></a></li>
                                            </ul>
                                        </div>
                                        <!-- Start sidebar widget -->
                                        <div class="sidebar-widget">
                                            <h4 class="widget-title">Liên Kết</h4>
                                            <ul>
                                                
                                                    <!--<li><div class="social-ring-button"><fb:like href="http://tranbinhfc.16mb.com/" showfaces="false" layout="button_count" action="like" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=0&amp;href=http%3A%2F%2Fnuocdatinhkhiet24h.com%2Fgioi-thieu.html&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;show_faces=false"><span style="vertical-align: bottom; width: 78px; height: 20px;"><iframe name="f22fd66f5f370c4" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Df1ea63d65cbf2a%26domain%3Dnuocdatinhkhiet24h.com%26origin%3Dhttp%253A%252F%252Fnuocdatinhkhiet24h.com%252Ff1924f4b1d5367%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fnuocdatinhkhiet24h.com%2Fgioi-thieu.html&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;show_faces=false" style="border: none; visibility: visible; width: 78px; height: 20px;" class=""></iframe></span></fb:like></div></li>-->
                                                    <li><div class="social-ring-button"><a href="https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=http://tranbinhfc.16mb.com/" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=http://tranbinhfc.16mb.com/', 'newwindow', 'width=600, height=450'); return false;">
                                                            <img style="display:block; background: none; padding: 0px; border:0px;" src="http://nuocdatinhkhiet24h.com/wp-content/plugins/wordpress-social-ring/includes/../admin/images/sr-fb-share.png" alt="Share">
                                                            </a></div></li>
                                                            <li><div class="social-ring-button"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.6f0f2e104cd4fbbafb16bbad6813f68d.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fnuocdatinhkhiet24h.com%2Fgioi-thieu.html&amp;size=m&amp;text=Gi%E1%BB%9Bi%20thi%E1%BB%87u&amp;time=1463761464933&amp;type=share&amp;url=http%3A%2F%2Fnuocdatinhkhiet24h.com%2Fgioi-thieu.html" style="position: static; visibility: visible; width: 60px; height: 20px;" data-url="http://nuocdatinhkhiet24h.com/gioi-thieu.html"></iframe></div></li>
                                                    <li><div class="social-ring-button"><div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px; background: transparent;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1463761346473" name="I0_1463761346473" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;hl=en-US&amp;origin=http%3A%2F%2Fnuocdatinhkhiet24h.com&amp;url=http%3A%2F%2Fnuocdatinhkhiet24h.com%2Fgioi-thieu.html&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.vi.eXpfnjrW0No.O%2Fm%3D__features__%2Fam%3DEQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCNBJK3w_agc6ohvJ1dycsZ44vSNog#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1463761346473&amp;parent=http%3A%2F%2Fnuocdatinhkhiet24h.com&amp;pfname=&amp;rpctoken=31796447" data-gapiattached="true" title="+1"></iframe></div></div></li>
                                                    <li><div class="social-ring-button"><span class="PIN_1463761347192_button_pin" data-pin-log="button_pinit_bookmarklet" data-pin-href="http://tranbinhfc.16mb.com/"></span></div></li>
                                              
                                            </ul>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </section>