  <!-- BEGIN MENU -->
  <section id="menu-area">      
    <nav class="navbar navbar-default" role="navigation">  
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- LOGO -->              
          <!-- TEXT BASED LOGO -->

          <!-- IMG BASED LOGO  -->
            <a class="navbar-brand" href="index.html"><img src="..//images/logo.jpg" alt="logo"></a> 
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
           <li><%=link_to "Trang Chủ", home_path()%></li>
            <li><%= link_to "Giới Thiệu", about_path()%></li>
            <li><%= link_to "Sản Phẩm", product_path()%></li>
            <li><%= link_to "Tin Tức", news_path()%></li>
            <li  class="active"><%= link_to "Liên Hệ", contact_path()%></li>

            
          </ul>                     
        </div><!--/.nav-collapse -->
        <a href="#" id="search-icon">
          <i class="fa fa-search">            
          </i>
        </a>
      </div>     
    </nav>
  </section>
  <!-- END MENU --> 
      <section id="contact">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <div class="title-area">
              <h2 class="title">Liên hệ với chúng tôi</h2>
              <span class="line"></span>
              <p>Là phân phối sản phẩm đá viên – nước đá tinh khiết lớn nhất của hệ thống nhà máy nước đá Đông An Bình với hơn 10 năm kinh nghiệm, là một trong những nhà phân phối nước đá uy tín hàng đầu tại Tp.HCM</p>
            </div>
         </div>
         <div class="col-md-12">
           <div class="cotact-area">
             <div class="row">
               <div class="col-md-4">
                 <div class="contact-area-left">
                   <h4>Thông tin liên lạc</h4>
                   <p> Khách hàng mới khi đến với chúng tôi sẽ được tài trợ 100% tất cả các thiết bị, cùng với những ưu đãi đặc biệt về giá cả.</p>
                   <address class="single-address">
                     <p>Địa chỉ: 15 đường Linh Đông, Quận Thủ Đức, TP. HCM</p>
                     <p>tranbinhfc@gmail.com</p>
                     <p>+(84)1649102011 </p>
                   </address> 
                   <div class="footer-right contact-social">
                      <a href="index.html"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                      <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>                
                 </div>
               </div>
               <div class="col-md-8">
                 <div class="contact-area-right">
                   <form action="" class="comments-form contact-form">
                    <div class="form-group">                        
                      <input type="text" class="form-control" placeholder="Tên của bạn ...">
                    </div>
                    <div class="form-group">                        
                      <input type="email" class="form-control" placeholder="Email của bạn ...">
                    </div>
                     <div class="form-group">                        
                      <input type="text" class="form-control" placeholder="Tiêu dề ...">
                    </div>
                    <div class="form-group">                        
                      <textarea placeholder="Nội dung ..." rows="3" class="form-control"></textarea>
                    </div>
                    <button class="comment-btn">Gửi Thông Điệp</button>
                  </form>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
  </section>